*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin:0 auto;
    height: 100vh; 
    width: 100vw;

}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}

.center{
    justify-content: center;
}
.space-around{
    justify-content: space-around;
}

.self-center{
    align-self: center  ;
}

a:hover{
    background-color: rgba(72, 74, 75, 0.47);
    
}